.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  transition: background-color 0.3s;
}

.nav-list a:hover {
  background-color: #e8db67;
  border-radius: 5px;
}

.web3-connect {
  background-color: transparent;
  border: 2px solid #e8db67;
  color: #e8db67;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}
